@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap);

#section1 {
    height: fit-content;
    background-color: #a77932;
    display: flex;
    flex-wrap: nowrap;
}

* {
    box-sizing: border-box;
  }

* * {
    font-family: "Noto Sans Thai", sans-serif;
}

#section2 {
    height: fit-content;
    background-color: #fb3434;
    flex-wrap: nowrap;
    padding-top: 10px;
}

#section3 {
    height: fit-content;
    background-color: #84d644;
    flex-wrap: nowrap;
    padding-top: 10px;
}

footer {
    padding-top: 10px;
    background-color: #a77932;
    height: 100px;
    text-align: center;
}

a {
    color: black;
}

@media only screen and (max-width: 600px) {
    iframe {
      width: fit-content;
    }
  }
